DATABASE_URL=postgresql://expense_user:expense_password@localhost:5432/expense_db
AUTH_ENABLED=false
# AWS_REGION=ap-south-1
# COGNITO_USER_POOL_ID=ap-south-1_xxxxxxxxx
# COGNITO_APP_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
